:root {
  --primary-color: #d8a598;
  --secondary-color: #f6f2ec;
  --light-color: #ffffff;
  --dark-color: #464220;
}

body {
  color: var(--dark-color);
  font-family: "Manrope", sans-serif;
}

nav {
  background-color: var(--light-color);
  padding: 20px 0 0 0;
  border-bottom: 1px solid var(--light-color);
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
}

nav a {
  color: var(--dark-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
  font-weight: 700;
  letter-spacing: 0.5px;
}

nav a:hover {
  color: var(--primary-color);
}

.hero {
  background-color: var(--secondary-color);
  margin: 0 auto;
  text-align: center;
  padding: 160px 0;
}

.hero p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.hero h1 {
  font-family: "Manrope", sans-serif;
  font-size: 96px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.hero h2 {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-size: 36px;
  margin: 0;
  padding: 0;
}

.content-container {
  margin: 0 auto;
  padding: 75px 60px 25px;
}

.content-container h2 {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-size: 36px;
  margin-bottom: 50px;
}

.content-container p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 75%;
}

footer {
  background-color: var(--secondary-color);
  padding: 80px 0 30px;
  text-align: center;
}

footer a {
  color: var(--dark-color);
  font-weight: 700;
}

footer .social-links a {
  color: var(--primary-color);
  margin: 0 20px;
  background-color: var(--dark-color);
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

footer .github-link {
  margin-top: 100px;
  opacity: 50%;
}

footer .github-link a {
  color: var(--dark-color);
}

.light-bg {
  background-color: var(--secondary-color);
}

.primary-button,
.secondary-button {
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 700;
}

.primary-button {
  background-color: var(--primary-color);
}

.primary-button:hover {
  background-color: var(--dark-color);
  color: var(--primary-color);
}

.secondary-button {
  border: 1px solid var(--primary-color);
}

.secondary-button:hover {
  color: var(--dark-color);
}

@media (max-width: 1024px) {
  .hero {
    padding: 80px 0;
  }

  .hero p {
    font-size: 16px;
  }

  .hero h1 {
    font-size: 48px;
    line-height: 1;
    margin: 20px 0;
  }

  .hero h2 {
    font-size: 24px;
  }

  footer {
    padding: 60px 0;
  }

  .content-container {
    padding: 75px 10px 25px;
    text-align: center;
  }
}
